
<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">One click sign up with Dropbox!</h3><br><br>

	<div class="col-md-12 text-center">
			<img src="/modules/users/img/dropbox-login.png" alt="Dropbox Login"><br><br>
		<a href="/auth/dropbox" class="btn btn-primary btn-lg">
			<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
			Sign in with Dropbox
		</a>

	</div>

</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>

